<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RecruitCat_Username_</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RecruitCat_Username_.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">RecruitCat</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
						<a class="nav-link" href="#contact">Contact</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#testimonials">Testimonials</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/OurTeam/Index">Our Team</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Candidates/Index">Candidates</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Companies/Index">Companies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/JobTitles/Index">Job Titles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Industries/Index">Industries</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <footer class="text-center mt-5">
        <p>&copy; 2024 RecruitCat</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>